body {
    margin: 0;
    background-color: rgb(31, 31, 31);
    font-family: Arial;
}
#container-links {
    margin: 15px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
#container-links a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
}
#logo {
    color: white;
    font-size: 25px;
    margin:20px;
}
#logo-subtext {
    margin:45px;
    color: rgb(175, 115, 80);
    font-size: 20px;
}

.line {
    border: 1px solid rgb(68, 68, 68);
}
#container {
    margin: 45px;
}
.bar {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(155, 154, 154)
}
.bar input[type="text"] {
    margin-top:10px;
    width: 500px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(104, 104, 104);
    color: white;
}
input[type="submit"] {
    font-size: 12px;
    margin-top: 20px;
    padding: 10px;
    width: 120px;
    background-color: rgb(146, 176, 231);
    border-radius: 3px;
    border: 0px;
}
input[type="submit"]:hover {
    background-color: rgb(166, 190, 226);
    cursor: pointer;
}