body {
    margin: 0;
    background-color: rgb(31, 31, 31);
}
#container-links {
    margin: 15px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
#container-links a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
}
#logo, #logo-subtext {
    text-align: center;
    font-family: Arial;
}
#logo {
    color: white;
    font-size: 60px;
    margin-top: 100px;
}
#logo-subtext {
    color: rgb(29, 159, 202);
    font-size: 20px;
    margin-top: -45px;
}
form {
    margin-top:40px;
    text-align: center;
}
.bar input, .buttons input {
    border-radius: 20px;
    border: 0px;
    color: white;
    padding: 10px;
}
.bar input{
    background-color:  rgb(78, 78, 78);
    width: 500px;
}
.buttons {
    margin-top: 10px;
}
.buttons input {
    background-color:  rgb(66, 66, 66);
}
.buttons input:hover {
    border: 1px solid white;
    cursor: pointer;
}